footer {
  width: 101.21%;
  position: relative;
  bottom: -10px;
  left: -10px;
  height: 209px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerLogo {
  width: 122px;
  height: 39.44px;
  padding-bottom: 52px;
}

.footerParagraphs {
  width: 163px;
}

@media (max-width: 720px) {
  .footerLogo {
    margin-top: 66px;
    margin-bottom: 19px;
    padding: 0;
    width: 122px;
    height: 39.44px;
  }

  .footerParagraphs {
    width: 145px;
    margin-bottom: 60px;
  }

  .footerParagraphs p {
    margin-block: 0;
  }
}
